.container {
    display: flex;
    width: 100%;

    &._row {
        flex-direction: row;
    }
    &._column {
        flex-direction: column;
    }
    &._space-between {
        justify-content: space-between;
    }
}
.hidden {
    display: none;
}
.show {
    display: block;
}