.register-form {
    width: 80%;
    max-width: 1085px;
    margin: 3.5rem auto;
    padding: 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;    
    border: 1px solid $lightGray;
    border-radius: 22px;

    @media screen and (min-width: $tablet) {
        padding: 3rem;
        margin: 105px auto 148px auto;
    }

    h3 {
        margin: 1.5rem 0 0 0;
        font-size: $font-medium;
        color: $darkerGray;
        font-family: $font-secondary;

        @media screen and (min-width: $tablet) {
            &:last-of-type {
                margin-top: 4rem;
            }
        }

    }

    p {
        font-size: $font-small;
        color: $gray;
    }

    hr {
        height: 1px;
        border: none;
        background-color: $lightGray;
    }

    .form-wrapper {
        margin: 1rem auto;
        display: flex;
        flex-direction: column;

        &.inline {
            @media screen and (min-width: $tablet) {
                flex-flow: row;
                gap: 1rem;            
            }
        }
        &.small {
            @media screen and (min-width: $tablet) {
                width: 50%;
                margin: 0;
            }
        }

        .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: .5rem 0;

            &.conditions {
                flex-direction: row;
                align-items: center;    
                transition: all ease-in-out 150ms;

                @media screen and (min-width: $tablet) {
                    margin-top: 1.5rem;
                }
                &:hover{
                    background-color: $disabled-input;
                    border-radius: 1.5rem;
                }
            }



            label {
                font-size: 13px;
                font-family: $font-secondary;
                font-weight: 500;
                color: $darkerGray;

                &.accept-politics {
                    font-size: $font-small;
                }
            }
            
            input, select {
                padding: .5rem;
                background-color: $softGray;
                border: 1px solid $grayish;
                border-radius: 4px;
            }
            select {
                font-family: $font-secondary;
                color: $grayish;

                @media screen and (min-width: $tablet) {
                    max-width: 240px;
                }

                &:focus, &:focus-visible {
                    border: 2px solid $blue;
                    outline: none;
                }
                &:active {
                    border: 1px solid $blue;
                }
            }
            input {
                height: 38px;
                color: $darkerGray;
                @media screen and (min-width: $large) {
                    width: 340px;
                }

                &:focus, &:focus-visible {
                    border: 2px solid $blue;
                    outline: none;
                }
                &:active {
                    border: 1px solid $blue;
                }
                &::placeholder {
                    color: $grayish;
                }
                &.error {
                    border: 2px solid $red !important;
                }
                &.valid {
                    border: 2px solid $green !important;
                }
                &.disabled {
                    background-color: $disabled-input;
                    border: 1px solid $disabled-border !important;
                    color: $disabled-border;
                }
                &.agendaInput {
                    color: $grayish;
                    font-family: $font-secondary;

                    @media screen and (min-width: $tablet) {
                        width: 80%;
                        max-width: 250px;
                    }
                }
                &.input-number {
                    @media screen and (min-width: $tablet) {
                        max-width: 120px;
                    }
                }
                &.checkbox {
                    width: 20px;
                    height: 20px;
                    
                    &:after {
                        content: " ";
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $white;
                        color: $darkerGray;
                        font-weight: 700;
                        border: 2px solid $darkerGray;
                        border-radius: 4px;

                    }
                    &:checked {
                    &:after {
                        content: "✔";
                    }
                    }
                }
    
            }

            .error-message {
                width: 100%;
                font-size: $font-xsmall;
                font-weight: 700;
                color: $red;
            }
        }
    }
}